@font-face {
	font-family: "Inter Regular";
	src: url(../fonts/Inter_24pt-Regular.ttf);
}
@font-face {
	font-family: "Inter Medium";
	src: url(../fonts/Inter_24pt-Medium.ttf);
}

/* Global */

* {
	margin: 0;
	box-sizing: border-box;
}
body {
	color: #333;
	line-height: 1.5;
	font-family: "Inter Regular";
}
nav,
section {
	margin: 0 auto;
	max-width: 480px;
}
h1 {
	font-weight: 500;
	font-family: "Inter Medium";
}
h2 {
	color: #999;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 16px;
	font-family: "Inter Regular";
}
ul li a {
	color: #999;
	text-decoration: none;
}
ul li a:hover {
	color: #000;
}

/* Header */

header {
	top: 0;
	padding: 16px 0;
	position: sticky;
	margin-bottom: 64px;
	backdrop-filter: blur(10px);
	border-bottom: 1px solid #ddd;
	background-color: rgba(255, 255, 255, 0.5);
}
header nav ul {
	gap: 16px;
	padding: 0;
	display: flex;
	list-style-type: none;
}

/* Main */

main section {
	margin-bottom: 64px;
}
main .about p {
	padding: 24px;
	border-radius: 8px;
	border: 1px solid #ddd;
}
main .skills ul {
	gap: 8px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
main .skills ul li {
	padding: 8px 12px;
	border-radius: 8px;
	border: 1px solid #ddd;
}
main .interests ul {
	gap: 8px;
	padding: 0;
	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(2, 1fr);
}
main .interests ul li {
	gap: 12px;
	padding: 12px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	border: 1px solid #ddd;
}
main .interests ul li span {
	padding: 6px 10px;
	border-radius: 4px;
}
main .interests ul li span.nature {
	background-color: #ccd3ca;
}
main .interests ul li span.music {
	background-color: #eed3d9;
}
main .interests ul li span.coffee {
	background-color: #f5e8dd;
}
main .interests ul li span.bikes {
	background-color: #b5c0d0;
}

/* Footer */

footer {
	padding: 16px 0;
	border-top: 1px solid #ddd;
}
footer section {
	display: flex;
	justify-content: space-between;
}
footer ul {
	gap: 16px;
	padding: 0;
	display: flex;
	list-style-type: none;
}
