@font-face {
	font-family: "Inter Regular";
	src: url(../fonts/Inter_24pt-Regular.ttf);
}
@font-face {
	font-family: "Inter Medium";
	src: url(../fonts/Inter_24pt-Medium.ttf);
}

* {
	margin: 0;
	box-sizing: border-box;
}
body {
	line-height: 1.5;
	font-family: "Inter Regular";
}

/* Global */

nav,
section {
	margin: 0 auto;
	max-width: 480px;
}
h1 {
	font-size: 1.5em;
	font-weight: 500;
	font-family: "Inter Medium";
}
h2 {
	font-weight: 500;
	font-size: 1.25em;
	margin-bottom: 16px;
	font-family: "Inter Medium";
}

/* Header */

header {
	top: 0;
	padding: 16px 0;
	position: sticky;
	margin-bottom: 64px;
	background-color: white;
	border-bottom: 1px solid black;
}
header nav ul {
	gap: 16px;
	padding: 0;
	display: flex;
	list-style-type: none;
}

/* Main */

main section {
	margin-bottom: 64px;
}
main .about p {
	padding: 24px;
	border-radius: 8px;
	border: 1px solid black;
}
main .skills ul {
	gap: 8px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
main .skills ul li {
	padding: 8px 12px;
	border-radius: 8px;
	border: 1px solid black;
}
main .interests ul {
	gap: 8px;
	padding: 0;
	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(2, 1fr);
}
main .interests ul li {
	gap: 16px;
	padding: 16px;
	display: flex;
	border-radius: 8px;
	align-items: center;
	border: 1px solid black;
}
main .interests ul li span {
	padding: 6px 10px;
	border-radius: 4px;
	background-color: #f1f1f1;
}

/* Footer */

footer {
	padding: 16px 0;
	border-top: 1px solid black;
}
footer section {
	display: flex;
	justify-content: space-between;
}
footer ul {
	gap: 16px;
	padding: 0;
	display: flex;
	list-style-type: none;
}
